/* #number-projects-nd {
    font-size: 55px;
}

#total-donations-nd {
    font-size: 30px;
} */

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

/* #total-injured-nd {
  font-size: 30px;
} */
