


{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> -->
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script> -->


  <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />



  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  
  <script src="./static/lib/js/d3.js"></script>
 
{% endblock %}



<script>
$(function() {
  $('form').submit(function(data) {
    $.post('/first1/zipfilter', $(this).serialize());
  });
});
</script>
{% block content %}
  <div class="application"   >
    <!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"> Dashboard</a>
      </div>
    </div>
  </div> -->


  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
        <div class="row">
	  
          
		  <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
               <b> Top cities with most killed</b>
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Poverty Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                <b>Top zip codes with most incidents</b>
              </div>
              <div class="chart-stage">
                <div id="poverty-level-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Poverty Pie -->
		  <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
               <b> Top cities with most killed normalized</b>
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart2"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Poverty Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                <b>Top zip codes with most incidents normalized</b>
              </div>
              <div class="chart-stage">
                <div id="poverty-level-row-chart2"></div>
              </div>
            </div>
          </div>
          <!-- Poverty Pie -->
	

        

          <!-- Poverty Pie -->
          <!-- <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Poverty Level
              </div>
              <div class="chart-stage">
                <div id="poverty-level-row-chart"></div>
              </div>
            </div>
          </div> -->
          <!-- Poverty Pie -->

        </div>
	
      </div>

      <!-- Map -->
      <div class="col-sm-6">

        <div class="chart-wrapper">
          <div class="chart-title">





          </div>
      <div class="chart-stage">
          <div id="us-chart"></div>
				  	<div class='my-legend'>
            <div class='legend-title'>Distribution of Gun Violence</div>
            <div class='legend-scale'>
            <ul class='legend-labels'>
              <li><span style='background:#ffcccc;'></span></li>
              <li><span style='background:#ff3333;'></span></li>
              <li><span style='background:#e60000;'></span></li>
              <li><span style='background:#cc0000;'></span></li>
              <li><span style='background:#660000;'></span></li>
            </ul>
          </div>
        </div>
      </div>
	  
      <!-- Map -->
	


    </div>

      


   
  </div>
 <!-- Chinese Province -->  
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                <b>Top states with most incidents</b>
              </div>
              <div class="chart-stage">
                <div id="test"></div>
			
              </div>
            </div>
          </div>
          <!-- Chinese Province --> 
		  <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
               <b> Top states with most killed normalized</b>
              </div>
              <div class="chart-stage">
                <div id="bar"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->



<!--
<svg width = "960" height = "600" id="svg1">

</svg>

<script type="text/javascript">
  var svg = d3.select("#svg1")

    .append("svg")
    .attr("width", "100%")
    .attr("height", "100%")
    .call(d3.behavior.zoom().on("zoom", function () {
      svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
    }))
    .append("g")

  svg.append("circle")
    .attr("cx", document.body.clientWidth / 2)
    .attr("cy", document.body.clientHeight / 2)
    .attr("r", 50)
    .style("fill", "#B8DEE6")
</script> -->


  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>

  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <!-- <script src="http://d3js.org/queue.v1.min.js"></script> -->
  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs2.js' type='text/javascript'></script>


</div>

<style type='text/css'>
  .my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
	div{
	background: linear-gradient(to top, ##ffffcc 0%, #ffffff 100%);
	}
  .my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }
</style>
{% endblock %}
